# WordPress ignores
wp-content/uploads/
**/wp-content/uploads/
public_html/wp-content/uploads/

wp-content/cache/
**/wp-content/cache/
public_html/wp-content/cache/

wp-content/updraft/
**/wp-content/updraft/
public_html/wp-content/updraft/

wp-content/ai1wm-backups/
**/wp-content/ai1wm-backups/
public_html/wp-content/ai1wm-backups/

# Large media & backup files
*.mp4
*.wpress
*.zip
*.mov
*.avi
*.tar.gz

# Hidden and private directories
.private/
public_html/.private/
.tmb/
public_html/.tmb/
.DS_Store

# IDE and OS files
.idea/
.vscode/
*.log

# Ignore Charis OS / Next OS files
charisos/
public_html/charisos/
*next os*
*charis os*
