# WordPress ignores
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/updraft/
wp-content/ai1wm-backups/

# Hidden and private directories
.private/
.tmb/
.DS_Store

# IDE and OS files
.idea/
.vscode/
*.log

# Ignore Charis OS / Next OS files
charisos/
*next os*
*charis os*
